@font-face {
    font-family: "Noe display";
    src: url("/assets/fonts/NoeDisplay-Bold.woff2") format("woff2");
   }

@font-face {
    font-family: "PP Pangram sans";
    src: url("/assets/fonts/PPPangramSans-Semibold.woff2") format("woff2");
    font-weight:500;
   }

   @font-face {
    font-family: "PP Pangram sans";
    src: url("/assets/fonts/PPPangramSans-Bold.woff2") format("woff2");
    font-weight:bold;
   }

   @font-face {
    font-family: "PP Pangram sans";
    src: url("/assets/fonts/PPPangramSans-CompactRegular.woff2") format("woff2");
    font-weight:lighter;
   }

   @font-face {
    font-family: "PP Pangram sans";
    src: url("/assets/fonts/PPPangramSans-Light.woff2") format("woff2");
    font-weight:100;
   }



   html body {
       cursor: url('/assets/images/cursor.png'), auto;
   }

   a button .link_menu {
    cursor: url('/assets/images/hover-cursor.png'), auto;
   }


@media (min-width:482px)  {

h1{
    font-family: "Noe display";
    font-size: 102.44px;
    line-height: 121%;
    color: white;
}

span{
    
    font-family: "PP Pangram sans", Arial, Helvetica, sans-serif;
    font-size: 49.6384px;
    line-height: 121%;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    margin-bottom: 44px;

}

h2{

    font-family: "Noe display", Arial, Helvetica, sans-serif; 
    font-weight: bold ;
    font-size: 48px;
    color: #5D5DFF;

}

h3{
    font-family: 'PP Pangram Sans' Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 121%;
    color: #5D5DFF;
    text-transform: uppercase;
}


label{
    font-family: 'PP Pangram Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #5D5DFF;
    margin-bottom: 6px;
}

p{
    font-family: 'PP Pangram Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    line-height: 45px;
    color: #0F0D0A;

}

h4{
    font-size: 18px;
        font-family: "Noe display", Arial, Helvetica, sans-serif;
        line-height: 121%;
        color: #5D5DFF;
        margin-bottom: 18px;
}

}

@media (max-width:480px)  {

    h1{
        font-size: 40px;
        font-family: "Noe display" Arial, Helvetica, sans-serif;
        line-height: 121%;
        color: white;
    }


span{
    
    font-family: "PP Pangram sans" Arial, Helvetica, sans-serif;
    font-size: 19.6384px;
    line-height: 121%;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    margin-bottom: 44px;

}

p{
    font-family: 'PP Pangram Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: lighter;
    line-height: 45px;
    color: #0F0D0A;

}
label{
    font-family: 'PP Pangram Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #5D5DFF;
    margin-bottom: 6px;
}

h2{

    font-family: "Noe display" Arial, Helvetica, sans-serif;
    font-weight: bold ;
    font-size: 32px;
    color: #5D5DFF;

}
h4{
    font-size: 18px;
        font-family: "Noe display", Arial, Helvetica, sans-serif;
        line-height: 121%;
        color: #5D5DFF;
        margin-bottom: 8px;
}
}